<section>
<h1>Please log in!</h1>

<form method="POST"> 

       <div> 
       <h2>Email:</h2>
       <input type="text" name="email">  
       </div>

       <div> 
       <h2>Password: </h2>
       <input type="text" name="password" >
       </div> 

        <div>
        <input type="submit" name ="submit" value="LOG IN">
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">    
</form>
<div><p class="err">{{err}} <p></div>
<div>
    <p>If you are not yet a member, please <a href="register">Register</a></p>
</div>
</section>