<h1><form method="POST" id="users" action="" name="Geeks"> 
        First name: 
  
        <input type="text" name="first"> 
        <br> Last name: 
  
        <input type="text" name="last" > 
        <br> Signature:

        <input type="text" name="signature">
        <br>
  
        <input type="submit" value="Submit">
        </form></h1>