<h1>Hey {{name}}! We are happy to see you! </h1>
<h1>Every voice makes a difference! </h1>
<h1>Please sign the petition and help us make this world a better place</h1>
 <form method="POST"> 

       <div> 
       <h2> Sign here: </h2>
       <canvas width="400" height="100" name="canvas"></canvas>
       </div>

        <div>
        <input type="submit" name ="submit" value="SUBMIT">
        </div>
        <input type="hidden" name="signature">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">    
</form>

