<div class="nav">
    <div><a href="logout">Logout</a> </div>
</div>
<section>
<h1>Welcome, {{name}}!</h1>
<h1> Please tell us about yourself: </h1>
 <form method="POST"> 

       <div> 
       <h2>What is your age? </h2>
       <input type="text" name="age">  
       </div>

       <div> 
       <h2>What is your city? </h2>
       <input type="text" name="city" >
       </div> 

       <div> 
       <h2>Homepage: </h2>
       <input type="text" name="url">  
       </div>

        <div>
        <input type="submit" name ="submit" value="SUBMIT">
        </div>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">    
</form>
        <div><p class="err">{{err}}<p></div>  

        <div>
            <p>Skip this and <a href="petition">Continue</a></p>
        </div>
</section>
        
    