<h1>Welcome, {{name}}!</h1>
<h1> Please tell us about yourself: </h1>
 <form method="POST"> 

       <div> 
       <h2>What is your age? </h2>
       <input type="text" name="age">  
       </div>

       <div> 
       <h2>What is your city? </h2>
       <input type="text" name="city" >
       </div> 

       <div> 
       <h2>Link to your web page or social network page: </h2>
       <input type="text" name="url">  
       </div>

        <div>
        <input type="submit" name ="submit" value="SUBMIT">
        </div>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">    
</form>
        <div>{{err}}</div>  

        <div>
            <p>You can also skip this step and go directly to <a href="petition">petition</a></p>
        </div>
        
    