
<div class="nav">
    <div><a href="edit"> Edit profile |</a></div>
    <div><a href="delete"> Delete signature |</a></div>
    <div><a href="logout"> Logout </a></div>
</div>
<section>
<h1>Thank you for signing the petition, {{name}}! </h1>

<img src="{{signature}}" alt="">


<h2><a href="signers"> See all {{count}} signers </a></h2>
</section>

   
