html {
    background: url(img/bkgr4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

canvas {
    border: dotted black 2px;
}

body {
    box-sizing: border-box;
    color: black;
    margin-left: 400px;
    margin-right: 100px;
}
h1 {
    font-family: "Indie Flower", serif;
}

h2 {
    font-family: "Indie Flower", serif;
}

a,
p {
    font-family: "Lato", serif;
    color: #393e46;
}

.err {
    color: #cf7500;
    font-family: "Lato", serif;
}

section {
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

input {
    font-size: 120%;
    font-family: "Lato", serif;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: 0px;
}

.signers {
    font-family: "Lato", serif;
    color: #393e46;
}

.navel {
    font-family: "Lato", serif;
    color: #cf7500;
}

.important {
    font-size: 250%;
}
